[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SQI"]
	path = SQI
	url = https://github.com/cran/SQI
	shallow = true
	registered = true
